@page
@model MLGS.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Température ambiante (°C) :
            </th>
            <th>
                Humidité dans l'air (%) :
            </th>
            <th>
                Luminosité (lux) :
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParcelData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature_sensor_value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity_value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Light_sensor_value)
                </td>
            </tr>
        }
    </tbody>
</table>